@page "/"
@using FreightChargeApp.Models
@inherits ReactiveComponentBase<ViewModels.IndexViewModel>

<h3 class="text-center">Choose the best prices with our application:</h3>

<div class="container">
    <form class="g-3">
        <div class="mb-3">
            <label for="inputWeight" class="form-label">Weight</label>
            <div class="input-group">
                <input type="number" class="form-control" id="inputWeight"
                       min="0" step="0.1"
                       @bind-value="ViewModel!.Weight"
                       @bind-value:event="oninput">
                <span class="input-group-text">kg</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm">
                <label for="inputLength" class="form-label">Length</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="inputLength"
                           min="0" step="1"
                           @bind-value="ViewModel!.Length"
                           @bind-value:event="oninput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
            <div class="col-sm">
                <label for="inputWidth" class="form-label">Width</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="inputWidth"
                           min="0" step="1"
                           @bind-value="ViewModel!.Width"
                           @bind-value:event="oninput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
            <div class="col-sm">
                <label for="inputHeight" class="form-label">Height</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="inputHeight"
                           min="0" step="1"
                           @bind-value="ViewModel!.Height"
                           @bind-value:event="oninput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm">
                <p>Volume: @(ViewModel?.PackageDimensions?.Volume ?? 0) cm<sup>3</sup></p>
            </div>
        </div>
    </form>

    @{
        if (!CalculatedCost)
        {
            <div class="col-12">
                <button class="btn btn-primary" @onclick="CalculateCost">Calculate cost</button>
            </div>
        }
        else
        {
            @foreach (CourierModel courierModel in ViewModel!.Couriers)
            {
                <div class="modal fade" id="@courierModel.CourierType.ToString()ModalDialog" tabindex="-1" style="display: none;">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Package sent!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Thank you for choosing @courierModel.CourierType.ToString().</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Courier</th>
                    <th scope="col" colspan="2">Shipping Cost</th>
                </tr>
                </thead>
                <tbody>
                @foreach (CourierModel courierModel in ViewModel!.Couriers)
                {
                    <tr>
                        <th scope="row" class="col-3">@courierModel.CourierType.ToString()</th>
                        @if (courierModel.CostAsString is not null)
                        {
                            <td>@courierModel.CostAsString</td>
                            <td class="col-5 col-sm-4">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@courierModel.CourierType.ToString()ModalDialog"
                                        @onclick="@(() => PostPackageAsync(courierModel))">
                                    Send Package
                                </button>
                            </td>
                        }
                        else
                        {
                            <td colspan="2">@courierModel.ValidationMessage</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
    }

</div>
